In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
irs_income_2016 = pd.read_csv("../data/IRS_2016_allstates_income.csv", nrows=25537)

In [5]:
irs_income_2016.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205
5,1,AL,0,Alabama,6,167080,29240,124090,11280,99690,...,165710,1418377,0,0,0,0,45600,129728,117220,380998
6,1,AL,0,Alabama,7,216280,21250,186850,6330,128110,...,215590,3799170,1130,411,450,290,82610,388881,125580,498845
7,1,AL,0,Alabama,8,59310,4250,53160,800,45040,...,59270,6553240,24740,43740,30310,100489,31210,943909,19520,311358
8,1,AL,1,Autauga County,1,210,110,90,0,120,...,30,56,0,0,0,0,0,0,100,268
9,1,AL,1,Autauga County,2,3210,2570,240,380,1270,...,710,351,0,0,0,0,230,132,2760,2643

In [7]:
TN_2016 = irs_income_2016[irs_income_2016["STATE"].isin(["TN",])]
TN_2016

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
19752,47,TN,0,Tennessee,1,39580,22400,14440,980,25390,...,6760,17669,200,287,0,0,3970,7167,16170,59567
19753,47,TN,0,Tennessee,2,439770,345410,39920,49300,188490,...,109250,62045,0,0,0,0,37380,18477,366150,366510
19754,47,TN,0,Tennessee,3,717430,398720,115040,189290,341750,...,449870,461060,0,0,0,0,63270,70761,635450,1870568
19755,47,TN,0,Tennessee,4,759340,355970,217710,159890,347430,...,629080,1669328,110,100,0,0,104290,176690,646420,1783890
19756,47,TN,0,Tennessee,5,396810,128390,215890,42240,198820,...,382580,2135577,30,29,0,0,87440,220372,302390,849648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

In [9]:
TN_2016.tail(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20510,47,TN,187,Williamson County,7,23520,2170,20310,810,11790,...,23430,465431,270,90,80,44,8840,51013,13510,60777
20511,47,TN,187,Williamson County,8,15450,790,14260,310,10560,...,15440,1986176,9730,23933,8510,27886,7750,239758,5850,105990
20512,47,TN,189,Wilson County,1,760,410,300,30,510,...,150,424,0,0,0,0,90,204,320,1073
20513,47,TN,189,Wilson County,2,8460,7070,690,570,3340,...,2130,1014,0,0,0,0,680,337,6980,5618
20514,47,TN,189,Wilson County,3,11330,7160,1850,2040,5000,...,7680,7906,0,0,0,0,1240,1488,9690,23528
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411